.menu_aside {
    background-color: #002D2B;
    height: 100%;
    width: min-content;
}

.menu_aside ul {

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    gap: 20px;

    padding: 10px 0;

    width: 80px;
    height: 100%;
    overflow-x: hidden;

    transition: all 0.2s ease-in-out;

}

.menu_aside ul.open_menu {
    width: 180px;
}


.menu_aside ul li {
    width: 100%;
    overflow: hidden;
}

.menu_aside ul li button {

    display: flex;
    align-items: center;
    
    overflow: hidden;
    
    gap: 30px;
    min-width: 180px;

    padding: 10px 0 10px 25px;

    font-family: 'Inter';


    color: #FFF;
    border: none;
    background-color: transparent;

    transition: all 0.2s ease-in-out;

    cursor: pointer;

}

.menu_aside ul li button:hover {
    background-color: #061a19;
}

.menu_aside ul li button svg {
    font-size: 2em;

}

.flip_x_1 {
    transform: scale(-1);
}