.form_project_container{
    width: 100%;
    max-width: 559px;
    background-color: rgba(255, 255, 255, 0.51);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 24px;
    justify-content: space-between;
    row-gap: 40px;
}

.form_project_title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #002D2B;
    padding: 1%;
}

.form_project_box{
    width: 100%;
}

.form_project_input{
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
}

.form_project_input:first-child{
    margin-bottom: 8px;
}


.form_project_buttons{
    display: flex;
    justify-content: center;
    column-gap: 16px;
    width: 100%;
}