/* Corpo Geral do HTML*/
.container{ 
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  background: #85B0B0;
  width: 100%;
  height: 100%;
}
/*Estilização da NavBar*/
.nav{
  padding: 1.9rem;
}
/*titulo do input*/
.nav label h5 {
  color: #898989;
  margin-left: 32px;
  margin-bottom: 6px;
}
/*input de pesquisa*/
.searchBar{
  display: flex;
  width: 19rem;
  margin-left: 32px;
  padding: .4rem;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
}
/*botão de criar atividade*/
.Btn {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  position: absolute;
  align-items: center;
  width: 10rem;
  height: 40px;
  left: 120px;
  top: 7vh;
  margin-left: 1090px ;
  border-radius: 6px;
  background-color: rgba(4, 52, 52, 0.2);
  border: 0px;
  cursor: pointer;
}
/*estilização do paragrafo do botão*/
.Btn p{
  color: #fff;
  text-align: center;
  margin: 15px;
  padding: .4rem;
}
/*botão de login*/
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  width: 140px;
  height: 48px;
  margin-left: 1350px;
  margin-top: -12vh;
  background: #EEEEEE;
  border: 1px solid #CAC4C4;
  border-radius: 7px;
  cursor: pointer;
}
/*filtro*/
.link{
  cursor: pointer;
  color: #EEEEEE;
  text-decoration: none;
  display: flex;  
  position: absolute;
  margin-left: 688px;
}
/*filtro > imagem*/
.link a > img {

  margin-bottom: -60vh;
}
/*filto > estilização dp paragrafo*/
.link p{
  margin-left: 10px;
  margin-top: -3vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 0.8px;
}
/*Estilização do campo de cartões*/
.field{
  display: flex;
  flex-direction: column;
  float: left;
  width: 410px;
  height: 610px;
  margin-top: 15px;
  margin-left: 4.1vw;
  border: 1px solid rgba(4, 52, 52, 0.2);
  border-radius: 7px;
}
/*Estilização do Titulo*/
.field h1{
  color: #043434;
  margin-top: 18px;
  margin-left: 25px;
}
/*Estilização do Segundo Campo*/
.fieldsDois{
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 610px;
  margin-top: 15px;
  margin-left: 37vw;
  border: 1px solid rgba(4, 52, 52, 0.2);
  border-radius: 7px;
}
/*Estilização do Titulo*/
.fieldsDois h1{
  color: #043434;
  margin-top: 18px;
  margin-left: 25px;
}
/*Estilização do Terceiro Campo*/
.fieldsTres{
  display: flex;
  flex-direction: column;
  float: right;
  width: 410px;
  height: 610px;
  margin-top: 15px;
  margin-left: 71vw;
  border: 1px solid rgba(4, 52, 52, 0.2);
  border-radius: 7px;
}
/*Estilização do titulo*/
.fieldsTres h1{
  color: #043434;
  margin-top: 18px;
  margin-left: 25px;
}
/*Estilização dos Cartoões*/
.cards{
  width: 330px;
  height: 150px;
  padding: 5px;
  margin-left: 25px;
  margin-top: 25px;
  background-color: #EEEEEE;
  color: #000;
  border-radius: 7px;
  box-shadow: 0px 4px 16px #EAE2FD;
}
.cards h4 {
  margin: 5px;
}
.cards p {
  margin: 5px;
}
