.card_content::-webkit-scrollbar,
.card_content::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #cecece;
    border-radius: 6px;
}

.card_content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.card_header {
    position: absolute;
    display: flex;
    color: #043434;
    background-color: var(--main-color);
    width: 100%;
    
}

.card_header span {
    font-size: 1.5em;
    font-weight: 600;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_actions {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: flex-end;
}

.task_actions button {
    border-radius: 25%;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #7c7c7c;
}

.task_actions .edit,
.task_actions .delete {
    position: relative;
    cursor: pointer;
}

.task_actions .edit::after,
.task_actions .delete::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 0px;
    width: min-content;
    height: min-content;
    padding: 5px;
    color: #FFF;
    background-color: #043434;
    border-radius: 8px;
    font-size: 0.7em;
    pointer-events: none;
    opacity: 0;

    transition: all 0.2s ease-in;
}

.task_actions .edit::after {
    content: 'Editar';
    left: -10px;
}

.task_actions .delete::after {
    content: 'Deletar';
    left: 10px;

}

.task_actions .delete:hover::after,
.task_actions .edit:hover::after {
    width: min-content;
    height: min-content;
    opacity: 1;
}

.task_actions .edit:hover,
.task_actions .edit:hover * {
    color: #0084ff;
    outline-color: #0084ff;
    border-color: #0084ff;
}

.task_actions .delete:hover,
.task_actions .delete:hover * {
    color: #ff4444;
    outline-color: #ff4444;
    border-color: #ff4444;
}