.card_content::-webkit-scrollbar,
.card_content::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #cecece;
    border-radius: 6px;
}

.card_content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.card_header {
    position: absolute;
    display: flex;
    color: #043434;
    background-color: var(--main-color);
    width: 100%;
    
}

.card_header span {
    font-size: 1.5em;
    font-weight: 600;
}

.task_actions {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.task_actions button {
    border-radius: 8px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid #7c7c7c;
    outline-color: #7c7c7c;
}

.task_actions .edit {
    /* border: 1px solid green; */
    /* outline-color: green; */
}

.task_actions .delete {
    /* border: 1px solid red; */
    /* outline-color: red; */

}