.card_content::-webkit-scrollbar,
.card_content::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #cecece;
    border-radius: 6px;
}

.card_content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.card_header {
    position: absolute;
    display: flex;
    color: #043434;
    background-color: var(--main-color);
    width: 100%;
    
}

.card_header span {
    font-size: 1.5em;
    font-weight: 600;
}