.navbar {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: 10px 20px;

    width: calc(100% - 0px);
    min-height: 80px;

    background-color: transparent;
}

.navbar h2 {
    width: 100%;
}

.navbar button {

    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 8px;
    border: 1px solid #DEDEDE;
    outline-color: var(--primary-color);
    min-width: 150px;
    
    height: 40px;

    cursor: pointer;
}

.navbar button:hover {
    background-color: #DEDEDE;
    outline: 2px solid var(--primary-color);
    outline-offset: 1.5px;
}


.navbar button .avatar_container {
    display: flex;
}

@media (max-width: 662px) {

    .navbar {
        gap: 20px;
        flex-direction: column-reverse;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .navbar h2 {
        width: auto;
    }
}