.page_reset_senha{
    display: flex;
    align-self: center;
    justify-content: center;
}

.container_reset_senha{
    display: flex;
    border-radius: 10px;
    background: #002D2B;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    min-width: 330px;
    flex-direction: column;
    gap: 16px;
    margin-top: 10vh;
    align-items: center;
}

.titulo_reset_senha{
    font-size: 22px;
    color: white;
}
.paragraph_reset_senha{
    font-size: 16px;
    color: white;
}

.input_email{
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 19px;
    border: none;
    border-radius: 9px;
    width: 100%;
    height: 45px;
    outline: 0;
}

.botao_enviar_senha{
    border-radius: 5px;
    border: none;
    padding: 16px;
    text-align: center;
    background: #85B0B0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
}
.botao_enviar_senha:hover{
    background: white;
    color: black;
}